
body {
	background: url(../assets/images/blurbg.png) no-repeat center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
  	font-family: 'Helvetica neue';

}

strong {
	text-decoration: underline;
	font-weight: normal;
}

#contact {
	list-style-type: none;
}

#contact li {
	float:left;
}
#wrapper {
	margin-top: 20px;
	width: 100%;

	margin-left:auto;
	margin-right: auto;
	text-align: center;

}

#info {
	display: inline-block;
	background-color: #000;
	opacity: 0.6;
	color: white;
	padding: 20px;
	text-align: justify;
	font-size: 11pt;
	vertical-align: top;
	margin-top: 15px;
	border-radius: 20px;
	position: relative;
}

#info:before {
	content : ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	top: 15px;
	border: 25px solid;
	border-color: transparent black transparent transparent ; /*transparent transparent black; */
}

#avatar {
	display: inline-block;
}
#avatar img {
	height: 100px;
	margin: 10px;
	border-radius: 50%;
}

#menu {
	margin-top: 20px;
}

.satellite {
	transition-duration: 1s;
}

.infoDetail {
	position: absolute;
	/*top: 50%;*/
	left: 50%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-top: -115;
	margin-left: -150px;
	background-size: cover;
	opacity: 1;
	border: 5px solid white;
	color:white;
	text-align: center;
	font-size: 11pt;
	transition: all 2s ease-in-out;
}

.center {
	-webkit-transform: translateY(350px);				
}

.infoDetailBG {
	width: 100%;
	height: 100%;
	background: url(../assets/images/avatar.jpeg);
	background-size: cover;
	border-radius: 50%;

}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}


.infoDetail span {
	position: absolute;
	left: 5px;
	top: 30px;
	z-index: 99999999;
	text-align: justify;
	padding: 50px;
	color: #FFF;
}

#menu .bubble {
	display: block;
	position: absolute;
	top: 350px; left: 50%;
	width: 80px;
	margin-left: -40px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	font-size: 8pt;
	margin-right: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	color :#FFF;
	transition-duration: 1s;
	background-color: #527E83;

}

.bubble1 {
	background-color: #527E83 !important;
}

.bubble3 {
	background-color: #D3A94B !important;
}

.bubble2 {
	background-color: #525383 !important;
}
.bubble4 {
	background-color: #DE9252 !important;
}

.bubble5 {
	background-color: #DA6F94 !important;
}

.bubble6 {
	background-color: #974BB2 !important;
}

.bubble7 {
	background-color: #DA6F94 !important;
}

.bubble0 {
	background-color: #DD3357 !important;
}

.experience:hover {
	-webkit-transform: translate(100px, 400px);
}

#menu span:hover {
	/*opacity: 0.7;*/
}