body {
	text-align :center;
	font-family:   "Helvetica Neue", Helvetica, sans-serif;
		margin : 0;

}

hr {
	width: 50px;
	border: 1px dotted #000;
	margin-bottom: 5%;
	margin-top: 30px;
}

#title {
	margin-top :50px;
	color: #AC5419;
	font-size: 22pt;
}

.section {
	width: 100%;
	height: 100%;
	display: table;

}
#headerSection {
	background: url('../images/irongrip.png') repeat;
	padding-top : 11%;
}

#workSection {
	background: url('../images/darklight.png') repeat;
	text-align: center;
	letter-spacing: 2px;
}

#contactSection {
	background: url('../images/sandpaper.png') repeat;
	text-align: justify;
	letter-spacing: 2px;
	
}

#contactSection h2 {
	font-size: 72px;
	letter-spacing: -1px;
}

#presentation {
	color : #5A5656;
	font-size:  28px;
}

#contentContact {
	padding-right : 100px;
	padding-left : 100px;
}

	
#workSection p  {
	padding : 0px;
	margin-bottom: 4%;
}

#workSection span  {
	font-size : 18pt;
	letter-spacing: 5px;
}

#workSection img {
	max-height: 80px;
}


#workSection span {
	display: block;
	text-align: center;
	margin-top : 2%;
}

#workSection button {
	border : 1px solid #000;
	padding: 15px;
	margin: 30px;
	width: 200px;
}

#projectsSection {
	background: url('../images/fabric.png') repeat;
	text-align: center;
	letter-spacing: 1px;
}

#projectsSection p {
	padding : 10px;
	padding-bottom: 0px;
	letter-spacing: 2px;
	color : white;
	font-size: 15pt;
}

#projectsSection span {
	display : block;
	margin-top : 0px;
}

#projectsSection a {
	color : #FFF;
}
#projectsSection a:hover {
	color : grey;
}

#myProjects {
	padding-top : 0%;
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
	color : white;

}

#myProjects ul {
	list-style-type: none;
	padding : 2%;
	padding-bottom: 0;
}

#myProjects ul li {
	padding: 2%;
letter-spacing: 1px;
color: rgb(184, 184, 184);

}

@media screen {
	#header {
background-image: url(../images/avatar.jpg);
background-repeat: no-repeat;
padding: 50px;
width: 300px;
height: 300px;
margin-left: 37%;
text-align: center;
letter-spacing: 3px;
border-radius: 90px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
box-shadow: 12px 5px 3px #000;
display: block;
text-decoration: none;
color: black;
	}

	.section {
		padding-top : 10px;
	}
}

.section{
    position: relative;
}

@media screen and (max-width: 700px) {
     #header {
 		margin-left: 5%;
	}

	.section {
		padding-top : 20px;

	}

}

@media screen and (max-width: 408px) {
     #header {
     	margin-top : 50px;
		margin-left: 50px;
		width: 150px;
		background: none;
		height: 500px;
		color : white;
	}

	#header:hover{
     	box-shadow: 5px 5px 3px grey;

	}

}


#header:hover {
	opacity: 0.9;
}

important {
	color: #AF7E40;
	font-weight: bold;
}

#contact {
		margin-top: 28px;
	display: block;
}

#contact img {
	margin-left : 4%;
}

#gotocontact img {
	width: 80px;
	height: 80px;
}

#contactSection ul {
	list-style-type: none;
	margin-left : 24%;
}
#contactSection li {
	display: inline;
	margin : 30px;
}

#contactSection li a:hover {
	opacity: 0.7;
}

#contactSection h2 {
	text-align : center;
}

a {
	text-decoration: none;
	color : black;
}
a:hover {
	color : #235C5C;
}

#backtotop {
	margin-top : 8px;
	display: block;
}

#bringuppic {
	margin-left : 28px;
}